.App-maindiv {
   background-image: url("https://www.wallpapertip.com/wmimgs/173-1739030_wallpaper-hd-cloudy-weather-unique-hd-wallpapers-hd.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 100vh;
}

